 * {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 1px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 1px rgb(65, 64, 64);
    border-radius: 1px;
}
::-webkit-scrollbar-thumb{
    background: rgb(0, 6, 80);
    border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover{
background: #41007e;
}

body {
    height: 130vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 140px 1fr 18px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.content {
    padding: 40px;
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.940);
    border-top: 5px solid rgb(158, 47, 3);
}

.header {
}

.topleft {
    font-size: 1.2rem;
    float: left;
}
.title {
    padding: 150px;
    font-weight: 250;
    text-decoration: none;
    color: rgb(207, 111, 0);

}

.topright {
    list-style: none;
    margin-right: 150px;
    text-align: right;

}
.info {
    list-style: none;
}

.email {
    position: sticky;
    padding-right: 230px;
    color: rgb(228, 68, 68);
}
.emailbr {
    font-size: 0.70rem;
    padding-right: 85px;
    color: rgba(0, 255, 234, 0.815);
    
}
.discord {
    position: sticky;
    padding-right: 110px;
    color: rgb(53, 110, 185);
}
.discordbr {
    font-size: 0.70rem;
    padding-right: 55px;
    color: rgba(0, 255, 234, 0.815);
}

.main {
    grid-area: main;
    background-color: rgb(0, 0, 0);
}

.interactives {
    text-align: right;
    margin-bottom: 10px;
    border-radius: 7px;
    position: relative;
    top: 950px;
    left: 25px;
}
.interactives > h2 > ul > li > a {
    display: right;
    text-decoration: none;
    list-style: none;
    color: aliceblue;
}

.footer {
    grid-area: footer;
    background-color: rgb(194, 58, 4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    list-style: none;
}
.footer > a {
    font-size: 0.78rem;
    font-weight: 1000;
    color: rgb(0, 0, 0);
    text-decoration: none;
}